@using CivilEngineerCMS.Services.Data.Interfaces
@using CivilEngineerCMS.Web.Infrastructure.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<CivilEngineerCMS.Web.ViewModels.Interaction.AddAndEditInteractionFormModel>
@inject IEmployeeService EmployeeService
@inject IProjectService ProjectService
@inject IClientService ClientService
@{
    ViewData["Title"] = "All interactions about project";
    var interactions = Model.ToList();
    var isEmployee = await EmployeeService.IsEmployeeAsync(User.GetId());
    bool isEmployeeInProject = false;
    bool isManagerOfProject = false;
    bool isAdministrator = this.User.IsAdministrator();
    bool isClient = await ClientService.IsClientByUserIdAsync(User.GetId());
    if (isEmployee)
    {
        var projectId = interactions.First().ProjectId.ToString();
        var employeeId = await EmployeeService.GetEmployeeIdByUserIdAsync(User.GetId());
        isEmployeeInProject = await EmployeeService.IsEmployeeInProjectAsync(projectId, employeeId);
        var managerId = await EmployeeService.GetManagerIdByUserIdAsync(User.GetId());
        isManagerOfProject = await ProjectService.IsManagerOfProjectAsync(projectId, managerId);
    }
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

@if (!interactions.Any())
{
    <h3 class="text-center">No interaction yet!</h3>
    <a class="ml-2 btn btn-info" href="javascript: history.back();">Cancel</a>
}
else
{
    <div class="text-center">
        @if (isEmployeeInProject || isManagerOfProject || isAdministrator)
        {
            <a class="btn btn-success" asp-area="" asp-controller="Interaction" asp-action="Add" asp-route-id="@Model.First().ProjectId.ToString()">Add interaction</a>
            <a class="btn btn-info" asp-area="" asp-controller="Project" asp-action="Details" asp-route-id="@Model.First().ProjectId.ToString()">Cancel</a>
        }
        @if (isClient)
        {
            <a class="btn btn-info" asp-area="" asp-controller="Client" asp-action="Mine" asp-route-id="@Model.First().ProjectId.ToString()">Cancel</a>
        }

    </div>
    <hr/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Interaction date</th>
            <th scope="col">Type of interaction</th>
            <th scope="col">Description</th>
            <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
        @{ int rowNumber = 0; }
        @foreach (var interaction in interactions)
        {
            rowNumber++;
            @if (isEmployeeInProject || isManagerOfProject || isAdministrator)
            {
                <tr onclick="location.href = '@Url.Action("Edit", "Interaction", new { projectId = interaction.ProjectId.ToString(), interactionId = interaction.Id.ToString() })'" type="submit" data - toggle="tooltip" data - placement="top" title="Click for details" role="button">
                    <th scope="row">@rowNumber</th>
                    <td>@interaction.Date</td>
                    <td>@interaction.Type</td>
                    <td>@interaction.Description</td>
                    <td>@interaction.Message</td>
                </tr>
            }
            else
            {
                <tr >
                    <th scope="row">@rowNumber</th>
                    <td>@interaction.Date</td>
                    <td>@interaction.Type</td>
                    <td>@interaction.Description</td>
                    <td>@interaction.Message</td>
                </tr>
            }
        }
        </tbody>
    </table>
}