@*@using CivilEngineerCMS.Data.Models
@using CivilEngineerCMS.Web.Infrastructure.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectAllViewModel
@{
    var projects = Model.
}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Project title</th>
        <th scope="col">Client name</th>
        <th scope="col">Manager name</th>
        <th scope="col">Project create date</th>

    </tr>
    </thead>
    <tbody>
    @{ int rowNumber = 0; }
    @foreach (var p in Model.P)
    {
        rowNumber++;
        <tr >

            <th scope="row">@rowNumber</th>
            <td>@p.ProjectName</td>
            <td>@p.ClientName</td>
            <td>@p.ManagerName</td>
            <td>@p.ProjectCreatedDate</td>
            <td><a class="btn btn-primary" asp-controller="Project" asp-action="Details" asp-route-id="@p.Id" method="post">Details</a></td>
                   
        </tr>
    }
    </tbody>
</table>*@