@model AddAndEditExpensesFormModel
@using CivilEngineerCMS.Services.Data.Interfaces
@using CivilEngineerCMS.Web.Infrastructure.Extensions
@inject IEmployeeService EmployeeService
@inject IProjectService ProjectService
@{
    ViewData["Title"] = "Details";
    string userId = User.GetId();
    bool isEmployee = await EmployeeService.IsEmployeeAsync(userId);
    bool isManagerOfProject = false;
    bool isAdministrator = this.User.IsAdministrator();

    if(isEmployee)
    {
        var managerId = await ProjectService.GetManagerIdByProjectIdAsync(Model.ProjectId.ToString());
        isManagerOfProject = false;
        if (isEmployee)
        {
            isManagerOfProject = await ProjectService.IsManagerOfProjectAsync(Model.ProjectId.ToString(), managerId);

        }
    }


}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div justify-content: center>
    <div style="display: inline">
        <div class="row" align="center">
            <div class="card col-12 border-0">
                <p>Last date of movement on account: <b>@Model.Date.ToString("dd.MM.yyyy")</b></p>
                <p></p>
                <div class="card" align="center">
                    <div class="card-body" align="center">
                        <p class="card-text">Paid money so far: <b>@Model.Amount €</b></p>
                        <p class="card-text">Total needed money: <b>@Model.TotalAmount €</b></p>
                        <div class="form-check-inline">
                            @if (isAdministrator || isManagerOfProject || isEmployee)
                            {
                                <a class="btn btn-warning" asp-area="" asp-controller="Expense" asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a>
                                if (isAdministrator)
                                {
                                    <a class="ml-2 btn btn-info" asp-area="" asp-controller="Project" asp-action="All">Cancel</a>
                                }
                                else if (isManagerOfProject)
                                {
                                    <a class="ml-2 btn btn-info" asp-area="" asp-controller="Employee" asp-action="Mine">Cancel</a>
                                }
                                else
                                {
                                    <a class="ml-2 btn btn-info" asp-area="" asp-controller="Employee" asp-action="MineByEmployeeId">Cancel</a>
                                }
                            }
                            else
                            {
                                <a class="ml-2 btn btn-info" asp-area="" asp-controller="Client" asp-action="Mine">Cancel</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>