@using CivilEngineerCMS.Services.Data.Interfaces
@using CivilEngineerCMS.Web.Infrastructure.Middlewares
@model IEnumerable<CivilEngineerCMS.Web.ViewModels.Employee.AllEmployeeViewModel>
@inject IEmployeeService EmployeeService

@{
    ViewData["Title"] = "All employees";
    var employees = Model.ToList();
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

@if (!employees.Any())
{
    <h3 class="text-center">No employee yet!</h3>
}
else
{
    <div>
        <h5 class="text-center text-success">
            Total online users: <b>@OnLineUsersMiddleware.GetOnLineUsersCount()</b>
        </h5>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Job title</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">Is deleted</th>
            <th scope="col">Online employees</th>
        </tr>
        </thead>
        <tbody>
        @{ int rowNumber = 0; }
        @foreach (var em in employees)
        {
            rowNumber++;
            var employeeCondition = string.Empty;
            employeeCondition = em.IsActive ? "Yes" : "No";
            <tr onclick="location.href = '@Url.Action("Details", "Employee", new { id = @em.Id, Area = "" })'" data - toggle="tooltip" data - placement="top" title="Click for details" role="button">
                <th scope="row">@rowNumber</th>
                <td>@em.FirstName</td>
                <td>@em.LastName</td>
                <td>@em.JobTitle</td>
                <td>@em.Email</td>
                <td>@em.PhoneNumber</td>
                <td>@employeeCondition</td>
                <td>
                    @if (OnLineUsersMiddleware.CheckIfUserIsOnline(em.UserId.ToString()))
                    {
                        <span class="text-success">Online</span>
                    }
                    else
                    {
                        <span class="text-danger">Offline</span>
                    }

                </td>
            </tr>
        }
        </tbody>
    </table>
}