@model IEnumerable<AllProjectViewModel>

@{
    ViewData["Title"] = "Task Board";
    var projects = Model.ToList();
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

@if (!projects.Any())
{
    <h3 class="text-center">No project yet!</h3>
}
else
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Project title</th>
            <th scope="col">Client name</th>
            <th scope="col">Manager name</th>
            <th scope="col">Project create date</th>
        </tr>
        </thead>
        <tbody>
        @{ int rowNumber = 0; }
        @foreach (var p in projects)
        {
            
            rowNumber++;
            <tr>
                <th scope="row">@rowNumber</th>
                <td>@p.Name</td>
                <td>@p.ClientName</td>
                <td>@p.ManagerName</td>
                <td>@p.ProjectCreatedDate</td>
            </tr>
        }
        </tbody>
    </table>
}