@*@using CivilEngineerCMS.Common
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectAllQueryModel
@{
    ViewBag.Title = "All Projects";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />




<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<ProjectStatusEnums>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Status" class="small text-danger"></span>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="SearchString"></label>
            <input asp-for="SearchString" class="form-control" placeholder="...">
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="ProjectSorting"></label>
                <select asp-for="ProjectSorting" class="form-control">
                    <option value="0">Project Name</option>
                    <option value="1">Project Status</option>
                    <option value="2">Project Description</option>
                    <option value="3">Client Name</option>
                    <option value="4">Client Email</option>
                    <option value="5">Client Phone</option>
                    <option value="6">Manager Name</option>
                    <option value="7">Manager Email</option>
                    <option value="8">Manager Phone</option>
                    <option value="9">Not filtered</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    int maxPage = (int)Math.Ceiling((double)Model.TotalProjects /
    Model.ProjectsPerPage);
}
<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Project"
           asp-action="AllProjectsFilter"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Status"
           asp-route-searchTerm="@Model.SearchString"
           asp-route-sorting="@((int)Model.ProjectSorting)"><<</a>
    </div>
    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Projects.Any();
    }
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
@(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Project"
           asp-action="AllProjectsFilter"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Status"
           asp-route-searchTerm="@Model.SearchString"
           asp-route-sorting="@((int)Model.ProjectSorting)">>></a>
    </div>
</div>
@if (!Model.Projects.Any())
{
    <h2 class="text-center">No projects found by the given criteria!</h2>
}
<div class="row">
    @foreach (var project in Model.Projects)
    {
        <partial name="_ProjectFilterPartial" model="@project" />
    }
</div>*@