@using CivilEngineerCMS.Services.Data.Interfaces
@using CivilEngineerCMS.Web.Infrastructure.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DetailsProjectViewModel
@inject IEmployeeService EmployeesService
@inject IProjectService ProjectService
@inject IClientService ClientService
@{
    ViewData["Title"] = "Details";
    string userId = User.GetId();
    bool isManagerInProject = false;
    bool isAdministrator = this.User.IsAdministrator();
    bool isEmployee = await EmployeesService.IsEmployeeAsync(userId);
    bool isClient = await ClientService.IsClientByUserIdAsync(userId);

    if (isEmployee)
    {
        string employeeId = await EmployeesService.GetEmployeeIdByUserIdAsync(userId);
        string managerId = await ProjectService.GetManagerIdByProjectIdAsync(Model.Id.ToString());
        isManagerInProject = employeeId == managerId;
    }

}

<h2 class="text-center">@ViewData["Title"]</h2>
<div justify-content: center>
    <div style="display: inline">
        <div class="row" align="center">
            <div class="card col-12 border-0">
                <div class="card" align="center">
                    <p style="font-size: 25px;">
                        <u>@Model.Name</u>
                        <u>@Model.Description</u>
                    </p>
                </div>
                <div class="card" align="center">
                    <p>Client name <b>@Model.ClientName</b></p>
                    <p>Client phone <b>@Model.ClientPhone</b></p>
                    <p>Client email <b>@Model.ClientEmail</b></p>
                </div>
                <div class="card" align="center">
                    <p>Manager name <b>@Model.ManagerName</b></p>
                </div>
                <div class="card" align="center">
                    <div class="card-body" align="center">
                        <h5 class="card-title">Project Info</h5>
                        <p class="card-text">Project status: @Model.Status</p>
                        <p class="card-text">Project start date: @Model.ProjectStartDate</p>
                        <p class="card-text">Project end date: @Model.ProjectEndDate</p>
                        <p class="card-text">Project picture path: @Model.UrlPicturePath</p>
                        <div class="form-check-inline">
                            @if (isManagerInProject || isAdministrator)
                            {
                                <a class="btn btn-warning" asp-area="" asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Id.ToString()">Edit</a>
                                <a class="ml-2 btn btn-danger" asp-area="" asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Id.ToString()">Delete</a>
                                <a class="btn btn-warning" asp-area="" asp-controller="Project" asp-action="ManageEmployeesInProject" asp-route-id="@Model.Id.ToString()">Manage employees in project</a>
                                <a class="ml-2 btn btn-info" asp-area="" asp-controller="Expense" asp-action="Details" asp-route-id="@Model.Id.ToString()">Expense details</a>
                            }
                            <a class="ml-2 btn btn-info" asp-area="" asp-controller="Interaction" asp-action="All" asp-route-id="@Model.Id.ToString()">Interactions</a>
                            @if (isAdministrator)
                            {
                                <a class="ml-2 btn btn-info" asp-area="" asp-controller="Project" asp-action="All" asp-route-id="@Model.Id.ToString()">Cancel</a>
                            }
                            else if (isManagerInProject)
                            {
                                <a class="ml-2 btn btn-info" asp-area="" asp-controller="Employee" asp-action="Mine" asp-route-id="@Model.Id.ToString()">Cancel</a>
                            }
                            else if (isEmployee)
                            {
                                <a class="ml-2 btn btn-info" asp-area="" asp-controller="Employee" asp-action="MineByEmployeeId" asp-route-id="@Model.Id.ToString()">Cancel</a>
                            }
                            else if (isClient)
                            {
                                <a class="ml-2 btn btn-info" asp-area="" asp-controller="Client" asp-action="Mine" asp-route-id="@Model.Id.ToString()">Cancel</a>
                            }

                        </div>
                    </div>
                </div>

                <div>

                    <h4 class="mt-2">Employees in project</h4>
                    @if (!Model.Employees.Any())
                    {
                        <h4 class="mt-2">No employees have been added to the project</h4>
                    }
                    else
                    {
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Job title</th>
                                <th scope="col">PhoneNumber</th>
                                <th scope="col">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                int rowNumber = 0;
                            }
                            @foreach (var e in Model.Employees)
                            {
                                rowNumber++;
                                <tr >
                                    <th scope="row">@rowNumber</th>
                                    <td>@e.FirstName</td>
                                    <td>@e.LastName</td>
                                    <td>@e.JobTitle</td>
                                    <td>@e.PhoneNumber</td>
                                    <td>@e.Email</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    </div>
</div>